---
layout: default
title: cryptonymo.us
---
%h2
  About
%p
  I'm Shane Liebling, I am technically a Systems Administrator, but spend all my time coding in Ruby.
%p  
  Recently a couple friends and I participated in the 
  %a{:href=>"http://r09.railsrumble.com/"} 2009 Rails Rumble
  wherein we built
  %a{:href => "http://whatdidineed.com"} What Did I Need   

#contact.vcard
  %h3 Contact
  %p.fn Shane Liebling
  shanel (at) gmail (dot) com
  %a.url{:href=>'http://cryptonymo.us'} 
    
