---
layout: default
title: zegoggl.es
---
%h2
  About
%p
  Hallo. I'm Jan Berkel, a software developer (mostly ruby at the moment) based in London.
%p  
  These days I enjoy hacking on semantic web technlogies and building stuff on top of twitter (like everyone else).
  I also used to do little bit of hardware hacking, which I hopefully will pick up again once the 
  %a{:href=>"http://london.hackspace.org.uk/"} London Hackspace
  is ready.
-#%p  
-#  Some other projects I have worked on / currently working on:
-#
-#  %ul
-#    %li 
-#      =link_to 'One-Click-Organisations', 'http://oneclickor.gs/'
-#    %li 
-#      =link_to 'Stutterbox', 'http://www.villainous.biz/wordpress/2008/03/26/stutterbox-final-presentation/'
-#    %li
-#      =link_to 'Lighthive', 'http://www.dezeen.com/2007/05/24/lighthive-by-alex-haw/'
      
#delicious-cloud
  %h3
    my delicious tags
  %script{ :type => "text/javascript", :src => "http://delicious.com/feeds/js/tags/delicieux?icon;count=25;size=12-25;color=87ceeb-0000ff;title=" }

%p

#last-fm-cloud
  %h3
    my last.fm tags
  %a{:href=>'/wordle'}
    %img{:src =>"/lastfm_wordle/cdr_jameson.png", :width=>"100%"}
%p
  (generated using 
  %a{:href=>'/lastfm_wordle'} lastfm+wordle
  )

#contact.vcard
  %h3 Contact
  %p.fn Jan Berkel
  %a.email{:href=>'mailto:jan.berkel@gmail.com'} jan.berkel@gmail.com
  %a.url{:href=>'http://zegoggl.es'} 
    
