!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type" }
    %meta{ :name => "robots", :content => "ALL" }
    %meta{ :name => "description", :content => "my eyes. ze goggles do nothing!" }
    %meta{ :name => "keywords", :content => "blog zegoggles" }
    %meta{ :name => "author", :content => "Jan Berkel" }

    %link{ :href => "favicon.ico", :rel => "shortcut icon" }
    %title= page.title
    
    %link{ :href => "/css/typogridphy.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => '/css/screen.css', :rel => "stylesheet", :type => 'text/css', :media => "screen" }
    
    %link{ :href => FEED_URL, :rel => "alternate", :title => "zegoggles.com", :type => "application/atom+xml" }
    
    %script{ :src => '/js/jquery.min.js', :type => 'text/javascript' }
    / %script{ :src => '/js/jquery.cookie.js', :type => 'text/javascript' }
    %script{ :src => '/js/jquery.twitter.js', :type => 'text/javascript' }
    %script{ :src => '/js/app.js', :type => 'text/javascript' }
     
    / :javascript
    /   var disqus_developer = 1;
       
    /
      [if IE]><link rel="stylesheet" type="text/css" href="/css/ie.css" /><![endif]
  %body
    #wrapper
      #header
        %span#nav

      .generic.nineforty
        %h1
          %a{:href=>'/'}
            ze goggles
      .generic.nineforty.end
      .generic.sixforty
        .content= content
      .generic.twoeighty.end
        / #tweets
        %h2
          recently on 
          %a{:href=>'http://twitter.com/jberkel', :rel=>'me'}
            twitter
              
        #foo{ :style => "display: block;" }
          %ul#twitter_update_list{ :style => "display: block;" }
            %li.firstTweet
              %span
                reading up on xfn microformats. there is even a way to mark up romantic relationships (rel="muse, crush, ..."). wtf?
                %a{ :href => "http://tr.im/kq1z" }
                  http://tr.im/kq1z
              %a{ :href => "http://twitter.com/jberkel/statuses/1695272813", :style => "font-size: 85%;" }
                about 4 hours ago
            %li
              %span
                RT @
                %a{ :href => "http://www.twitter.com/mikesten" }
                  mikesten
                \:Setting about organising London Twitter Hackers Meet No.1. Open to all.
                %a{ :href => "http://tr.im/jlnN" }
                  http://tr.im/jlnN
              %a{ :href => "http://twitter.com/jberkel/statuses/1579910521", :style => "font-size: 85%;" }
                12 days ago
            %li.lastTweet
              %span
                thanks @
                %a{ :href => "http://www.twitter.com/emmapersky" }
                  emmapersky
                \. it doesn't help that i now sit at @
                %a{ :href => "http://www.twitter.com/petermacrobert" }
                  petermacrobert
                's desk :)
              %a{ :href => "http://twitter.com/jberkel/statuses/1575820325", :style => "font-size: 85%;" }
                13 days ago
        
             
        .generic.twoeighty.end
        %h2 
          elsewhere on the webs...
        %ul
          %li 
            %a{:href=>'http://last.fm/user/cdr_jameson', :rel=>'me'}
              last.fm
          %li 
            %a{:href=>'http://github.com/jberkel', :rel=>'me'}
              github.com
          %li
            %a{:href=>'http://twitter.com/jberkel', :rel=>'me'}
              twitter.com
          %li
            %a{:href=>'http://www.flickr.com/photos/jberkel', :rel=>'me'}
              flickr.com
          %li
            %a{:href=>'http://delicious.com/delicieux', :rel=>'me'}
              delicious.com   
          %li
            %a{:href=>'http://www.freebase.com/view/user/jberkel', :rel=>'me'}
              freebase.com
              
      .generic.nineforty
        %p#footer-hav
          %a{ :href => "/about.html", :title => "about" }
            about          
          \&middot;
          layout based on
          = link_to('typogridphy', 'http://csswizardry.com/typogridphy/')
          \&middot;            
          running on
          = link_to('jekyll', 'http://github.com/jberkel/jekyll')
          \&middot;            
          it's the year 2009

      :javascript      
        // Disqus
        (function() {          
          var links = document.getElementsByTagName('a');
          var query = '?';
          for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
              query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
          }
          document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/zegoggles/get_num_replies.js' + query + '"></' + 'script>');
        })();
              
    / %script{ :src => "http://www.google-analytics.com/urchin.js", :type => "text/javascript" }
    / %script{ :type => "text/javascript" }
    /   _uacct = "UA-7557066-1";
    /   urchinTracker();
